{% extends 'base.html' %}
{% load static %}
{%block body%}
<div class="track-div" data-aos="zoom-in-up" data-aos-duration="1000">
<img src="./static/images/Track.svg" alt="">

</div>
<div class="timeline-div" data-aos="zoom-in-up" data-aos-duration="1000">
    <h3 class="timeline-text">
        <b>TIMELINE</b>
    </h3>
    <img src="./static/images/Timeline.svg" alt="" class="track-line">
</dv>
<div class="rules-div" style="margin-top: 3vw !important;" data-aos="zoom-in-up" data-aos-duration="1000">
    <h3 class="timeline-text">
        <b>RULES AND REGULATIONS</b>
    </h3>
    <div class="d-flex flex-column align-items-center" style="gap: 34px !important;">
<div class="d-flex justify-content-center" style="margin-top:5vw; gap: 25vw;">
    <button id="button1" class="active button1-class" >Track 1</button>
    <button id="button2" class="button2-class">Track 2</button>
</div>

<div class="rules-content-div">
<div id="content1" class="text-align-right content" style="list-style-position: outside; list-style-type: decimal;">
    <h4 class="text-center">Social Entrepreneurship Track</h4>
<li>Only registered startups will be allowed to participate in the Social Entrepreneurship Track</li>
<li>Any startup incorporated before 4 years of the conclusion of the competition i.e before January 2018 will not be allowed to participate</li>
<li>The startup should solve a critical social problem in an innovative as well as transformational manner and should have some quantifiable social return</li>
<li>There is no age restriction on any individual to participate. Anyone, from students to working professionals across the nation, can participate.

    
    
    
    
    
  </li>
<li>Action Plan aims to promote startups that require assistance in funding, mentoring, etc. Therefore startups who have raised external funding i.e. funding from angel investors, venture capitalists, etc. cannot participate.
</li>
<li>
Teams can have a maximum of 4 members including the Team leader. More than 4 is not allowed.

</li>
<li>
The Team leader will be the point of contact and his/her email address will be used for future correspondence.

</li>
<li>
The team must abide by timely instructions, guidelines and ethics provided by Abhyuday with general business ethics.

</li>
<li>
    Only the team leader has to register on the portal. He/She can later add his/her team members in the Questionnaire Submission form.

</li>
<li>
    Teams will be asked for proofs regarding any information provided by them. Failure to do so will lead to disqualification.

</li>
<li>
      
    You can participate in more than 1 track with different business ideas. One idea has to be registered in only one track. If you have a startup register for the 'Social Entrepreneurship Track' and if you only have an idea that can solve a social problem then don't register for this track and register for the 'Social Innovation Track'
</li>

</div>
<div id="content2" class="content">
    <h4 class="text-center">Social Innovation Track</h4>
    <li>This track focuses on building a plan or an idea to solve critical social problems in an innovative as well as transformational manner.

    </li>
    <li>Registered Startups are not allowed to participate in the 'Social Innovation Track'.</li>
    <li>Teams has to submit an abstract giving a detailed description of their idea/plan along with any prototype they have developed (if any)</li>
    <li>There is no age restriction on any individual to participate. Anyone, from students to working professionals across the nation, can participate.</li>
    <li>Teams can have a maximum of 4 members including the Team leader. More than 4 is not allowed.</li>
    <li>The Team leader will be the point of contact and his/her email address will be used for future correspondence.</li>
    <li>The team must abide by timely instructions, guidelines and ethics provided by Abhyuday with general business ethics.</li>
    <li>Only the team leader has to register on the portal. He/She can later add his/her team members in the Questionnaire Submission form.</li>
    <li>You can participate in more than 1 track with different business ideas. One idea has to be registered in only one track. If you have a startup register for the 'Social Entrepreneurship Track' and if you only have an idea that can solve a social problem then don't register for this track and register for the 'Social Innovation Track'.</li>


</div>
</div>
</div>

</div>
<div class="bottom-div" style="margin-bottom: 7vw !important;" data-aos="zoom-in-up" data-aos-duration="1000">
    <h5 class=" text-center follow-text" ><b> Follow Us</b></h5>
    <div class="d-flex " style="    gap: 25px;
    justify-content: center;">
      <div class="social-img"><a href="https://instagram.com/iitbombay_abhyuday"><img src="./static/images/i.png" alt=""></a></div>
      <div class="social-img"><a href="https://youtube.com/@AbhyudayIITBombay"><img src="./static/images/y.png" alt=""></a></div>
      <div class="social-img"><a href="https://twitter.com/Abhyuday_IITB"><img src="./static/images/twitter.png" alt=""></a></div>
      <div class="social-img"><a href="https://www.linkedin.com/company/abhyuday-iit-bombay/"><img src="./static/images/l.png" alt=""></a></div>
      <div class="social-img"><a href="https://www.facebook.com/abhyuday.iitb/"><img src="./static/images/f.png" alt=""></a></div>
     
    </div>
  </div>

{% endblock body %}
