{% extends 'base.html' %} {% load static %} {%block body%}


<h3 class="timeline-text" style="margin-top: 110px !important;">
  <b data-aos="zoom-in-up" >INCENTIVES</b>
</h3>

<div class="d-flex flex-wrap justify-content-center incentive-div" style="gap: 3vw ; margin: 9px; margin-top: 115px;" data-aos="zoom-in-up" data-aos-duration="1000">
  <div class="card">
    <div class="content">
      <div class="front">
        <img src="./static/images/aws.png" alt="" style="width: 320px;"></div>
      <div class="back">
        Access to exclusive credits and comprehensive support worth over 5,000 USD to all the finalists.
        
      </div>
    </div>
  </div> 
   <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/KiwiTech.png" alt="" style="width: 320px;"></div>
      <div class="back">10,000 USD worth of in-kind services to the top 3 startups & guest access pass for an international demo day to the top 5 startups.</div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/GitHUb.png" alt="" style="width: 320px;"></div>
      <div class="back">20 seats of GitHub Enterprise free for 1st year, 50% off for the second year</div>
    </div>
  </div> 
  <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/zoho.png" alt="" style="width: 320px;"></div>
      <div class="back">2000 USD credits of Zoho CRM to all the finalists

      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/CWE.png" alt="" style="width: 320px;"></div>
      <div class="back">One-year Gold Membership for CWE Services and incubation opportunity to the top 3 women-led startups.

      </div>
    </div>
  </div>  
  <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/Freshworks.png" alt="" style="width: 320px;"></div>
      <div class="back">4000 USD Credits of Freshworks CRM to top startups</div>
    </div>
   
  </div>  
  <div class="card">
    <div class="content">
     <div class="front"><img src="./static/images/PayTM.png" alt="" style="width: 320px;"></div>
     <div class="back">Over INR 1 Lakh Payment Gateway credits to top startups</div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/V@C.png" alt="" style="width: 320px;"></div>
      <div class="back">V@C will support the winners of the social innovation track with the Launch40 day program.
      </div>
    </div>
  </div> 
   
  <div class="card">
   <div class="content">
    <div class="front"><img src="./static/images/Razorpay.png" alt="" style="width: 320px;"></div>
    <div class="back">Per year credits worth 1Lakh on Payment Gateway to top startups</div>
   </div>
  </div>
  <div class="card">

    <div class="content">
     <div class="front"><img src="./static/images/Notion.png" alt="" style="width: 320px;"></div>
     <div class="back">1000 USD Credits for the Enterprise plan to top finalists
 
     </div>
    </div> 
  </div> 
  <div class="card">
    <div class="content">
      <div class="front"><img src="./static/images/ifia2.png" alt="" style="width: 320px;"></div>
      <div class="back">UI/UX support, funding & innovation support, and certification to all the finalists of both tracks</div>
     </div>
   </div> 
 
 <div class="card">
   <div class="content">
     <div class="front"><img src="./static/images/forecastr2.png" alt="" style="width: 320px;"></div>
     <div class="back">25% off on first-year annual subscription, waived off implementation fees and Access to the Investor Connect Program to all   the finalists
     </div>
   </div>
 </div> 
 <div class="card">
    <div class="content">
     <div class="front"><img src="./static/images/MSG91.png" alt="" style="width: 320px;"></div>
     <div class="back">Credits worth INR 25000 for for messaging/email solutions

      </div>
   </div>
 </div>
 <div class="card">
  <div class="content">
    <div class="front"><img src="./static/images/The Startup Lab.png" alt="" style="width: 320px;"></div>
    <div class="back">The StartupLab will offer a 15% discount on its services to all participating startups and free mentorship &consultancy to top 3 startups for 3 months.</div>
  </div>
 </div>
 <div class="card">
  <div class="content">
    <div class="front"><img src="./static/images/Erekruts.png" alt="" style="width: 320px;"></div>
    <div class="back">Special subscription plan with 1-year validity for services in online recruting and hiring related services to all the finalists

    </div>
  </div> 
 </div>  
 <div class="card">
  <div class="content">
   <div class="front"><img src="./static/images/India Advocacy.png" alt="" style="width: 320px;"></div>
   <div class="back">Custom-made legal services for finalist startups along Legal Consultancy deals priced at a discount.</div>
  </div>
  </div> 
 <div class="card">
  <div class="content">
   <div class="front"><img src="./static/images/SetOut.png" alt="" style="width: 320px;"></div>
   <div class="back">Animated reel to the top 5 finalists

   </div>
  </div>
 </div>
 <div class="card">
  <div class="content">
  <div class="front"><img src="./static/images/DM Advisory.png" alt="" style="width: 320px;"></div>
  <div class="back">Legal Support and Founders Agreement to all the finalists</div>
  </div>
 </div>
</div>
<div class="bottom-div" style="margin-bottom: 7vw !important;" data-aos="zoom-in-up" data-aos-duration="1000">
  <h5 class=" text-center follow-text" ><b> Follow Us</b></h5>
  <div class="d-flex " style="    gap: 25px;
  justify-content: center;">
    <div class="social-img"><a href="https://instagram.com/iitbombay_abhyuday"><img src="./static/images/i.png" alt=""></a></div>
    <div class="social-img"><a href="https://youtube.com/@AbhyudayIITBombay"><img src="./static/images/y.png" alt=""></a></div>
    <div class="social-img"><a href="https://twitter.com/Abhyuday_IITB"><img src="./static/images/twitter.png" alt=""></a></div>
    <div class="social-img"><a href="https://www.linkedin.com/company/abhyuday-iit-bombay/"><img src="./static/images/l.png" alt=""></a></div>
    <div class="social-img"><a href="https://www.facebook.com/abhyuday.iitb/"><img src="./static/images/f.png" alt=""></a></div>
   
  </div>
</div>
{% endblock body %}



