{% extends 'base.html' %} {% load static %} {%block body%}
<h3 class="timeline-text" style="margin-top: 110px !important;" data-aos="zoom-in-up" data-aos-duration="1000">
    <b>ECOSYSTEM PARTNERS</b>
</h3>
<div class="partners-div" data-aos="zoom-in-up" data-aos-duration="1000">
    
   
    <div class="partner-img">
        <a href=""><img src="./static/images/KT-PART.png" alt=""></a>
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/SOCIAL Alpha.png" alt=""></a>
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/SINE.png" alt=""></a>
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/V@C.-partner.png" alt=""></a>
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/Startup Lab-p.png" alt=""></a>
    </div>
   
 </div>
 <h3 class="timeline-text" style="margin-top: 110px !important;" data-aos="zoom-in-up" data-aos-duration="1000">
    <b class="blue-text">INVESTMENT PARTNERS</b>
</h3>
<div class="partners-div" data-aos="zoom-in-up" data-aos-duration="1000">
    
   
    <div class="partner-img">
        <a href=""><img src="./static/images/VENTURE WOLF.png" alt=""></a>

    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/IvyCamp.png" alt=""></a>

    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/Light Box Ventures.png" alt=""></a>

    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/Skwerup Capital Partners.png" alt=""></a>

    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/Inflection Point Ventures.png" alt=""></a>

    </div>
   
 </div>
 <h3 class="timeline-text" style="margin-top: 110px !important;" data-aos="zoom-in-up" data-aos-duration="1000">
    <b>INCUBATION PARTNERS</b>
</h3>
<div class="partners-div" data-aos="zoom-in-up" data-aos-duration="1000">
    
   
    <div class="partner-img">
        <a href=""> <img src="./static/images/JITO.png" alt=""></a>
       

    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/FITT.png" alt=""></a>
       

    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/TBI-KEC.png" alt=""></a>
       

    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/AIC-RMP.png" alt=""></a>
       

    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/3i ZONE.png" alt=""></a>
        

    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/YT-TBI.png" alt=""></a>
       

    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/VEL TECH TBI.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/NDBI.png" alt=""></a>
       
    </div> <div class="partner-img">
        <a href="">   <img src="./static/images/CWE (1).png" alt=""></a>
     
    </div> <div class="partner-img">
        <a href=""><img src="./static/images/IFIA.png" alt=""></a>
        
    </div> <div class="partner-img">
        <a href=""><img src="./static/images/CEDI.png" alt=""></a>
        
    </div> <div class="partner-img">
        <a href=""><img src="./static/images/NO STOPS.png" alt=""></a>
        
    </div> <div class="partner-img">
        <a href="">  <img src="./static/images/JSS STEP.png" alt=""></a>
      
    </div> <div class="partner-img">
        <a href=""> <img src="./static/images/BBB.png" alt=""></a>
       
    </div> <div class="partner-img">
        <a href=""> <img src="./static/images/DEVX.png" alt=""></a>
       
    </div>
    <div class="partner-img">
        <a href="">  <img src="./static/images/KSM.png" alt=""></a>
      

    </div>
    <div class="partner-img">
        <a href="">  <img src="./static/images/AIC-RNTU.png" alt=""></a>
      
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/BHAU.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/IITB Innovation Centre.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/Zone Startups.png" alt=""></a>
        
    </div>

    

 </div>
 <h3 class="timeline-text" style="margin-top: 110px !important;"data-aos="zoom-in-up" data-aos-duration="1000">
    <b class="blue-text">MEDIA & OUTREACH PARTNERS</b>
</h3>
<div class="partners-div" data-aos="zoom-in-up" data-aos-duration="1000">
    
   
    <div class="partner-img">
        <a href="">   <img src="./static/images/ARTHAYAN.png" alt=""></a>
     
    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/VIE.png" alt=""></a>
       
    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/FYI.png" alt=""></a>
       
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/SSS.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/BLOG.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/STARTUP STORY.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/PEDALSTART.png" alt=""></a>
       
    </div>
    <div class="partner-img">
        <a href="">   <img src="./static/images/GLOBAL HUES.png" alt=""></a>
     
    </div>
    <div class="partner-img">
        <a href=""><img src="./static/images/UNSTOP.png" alt=""></a>
        
    </div>
    <div class="partner-img">
        <a href=""> <img src="./static/images/isn.png" alt=""></a>
       
    </div>

    

   
 </div>
 <div class="bottom-div" style="margin-bottom: 7vw !important;" data-aos="zoom-in-up" data-aos-duration="1000">
    <h5 class=" text-center follow-text" ><b> Follow Us</b></h5>
    <div class="d-flex " style="    gap: 25px;
    justify-content: center;">
      <div class="social-img"><a href="https://instagram.com/iitbombay_abhyuday"><img src="./static/images/i.png" alt=""></a></div>
      <div class="social-img"><a href="https://youtube.com/@AbhyudayIITBombay"><img src="./static/images/y.png" alt=""></a></div>
      <div class="social-img"><a href="https://twitter.com/Abhyuday_IITB"><img src="./static/images/twitter.png" alt=""></a></div>
      <div class="social-img"><a href="https://www.linkedin.com/company/abhyuday-iit-bombay/"><img src="./static/images/l.png" alt=""></a></div>
      <div class="social-img"><a href="https://www.facebook.com/abhyuday.iitb/"><img src="./static/images/f.png" alt=""></a></div>
     
    </div>
  </div>
{% endblock body %}
