{% extends 'base.html' %} {% load static %} {%block body%}

<div
  class="d-flex flex-column flex-wrap sector-div"
  style="margin-top: 150px; gap: 90px"
>
  <div class="d-flex justify-content-around align-items-center flex-wrap" style="border-bottom-width:4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #ED46FD, #5529C5);
  border-image-slice: 1; padding-bottom: 40px; margin-left: 35px; margin-right: 35px;" >
    <div class="sect-img" data-aos="fade-right">
      <img
        src="./static/images/sector rectangle.png"
        alt=""
        class="sector-img1"
      
      />
    </div>
    <div class="sector-para" data-aos="fade-left">
      <h3 class="text-center">Education & Finance</h3>
      <p >
        Tackle educational issues through digital educational platforms, embracing inclusive schooling approaches, providing viable student funding options, conducting programs to enhance financial understanding, and introducing innovative educational technology solutions.

      </p>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center flex-wrap" 
  style="border-bottom-width:4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #ED46FD, #5529C5);
  border-image-slice: 1; padding-bottom: 40px; margin-left: 35px; margin-right: 35px;">
    <div class="sector-para" data-aos="fade-right">
      <h3 class="text-center">Healthcare</h3>

      <p >
        Targeting healthcare obstacles by enhancing healthcare service availability, making medical technologies more affordable, advocating for preventative healthcare measures, and addressing targeted health concerns.
      </p>
    </div>
    <div class="sect-img" data-aos="fade-left">
      <img
        src="./static/images/sector rectangle.png"
        alt=""
        class="sector-img1"
        />
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center flex-wrap" style="border-bottom-width:4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #ED46FD, #5529C5);
  border-image-slice: 1; padding-bottom: 40px; margin-left: 35px; margin-right: 35px;" >
    <div class="sect-img" data-aos="fade-right">
      <img
        src="./static/images/sector rectangle.png"
        alt=""
        class="sector-img1"
      
      />
    </div>
    <div class="sector-para" data-aos="fade-left">
      <h3 class="text-center">Rural Development</h3>

      <p >
        The goal is to help rural areas overcome their challenges. Aimed at empowering rural entrepreneurs, this means improving things like roads and buildings, coming up with innovations in farming, making sure there's clean water and toilets and creating jobs
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center flex-wrap" 
  style="border-bottom-width:4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #ED46FD, #5529C5);
  border-image-slice: 1; padding-bottom: 40px; margin-left: 35px; margin-right: 35px;">
    <div class="sector-para" data-aos="fade-right" >
      <h3 class="text-center">Sustainability</h3>
 
      <p >
        Addressing environmental concerns by endorsing renewable energy, effectively managing waste, preserving natural resources, promoting sustainable farming, & fostering mindful patterns of consumption & production.
      </p>
    </div>
    <div class="sect-img" data-aos="fade-left">
      <img
        src="./static/images/sector rectangle.png"
        alt=""
        class="sector-img1"
        />
    </div>
  </div>
  
  <div class="d-flex justify-content-around align-items-center flex-wrap" 
  style= " margin-left: 35px; margin-right: 35px;">
  <div class="sect-img"data-aos="fade-right">
    <img
      src="./static/images/sector rectangle.png"
      alt=""
      class="sector-img1"
      />
  </div>
    <div class="sector-para" data-aos="fade-left">
      <h3 class="text-center">Women Empowerment</h3>

      <p >
        Utilize technology to enhance women's roles across domains, offering job opportunities, training in digital proficiencies, ensuring their safety, and combating gender disparities. This involves fostering women-led cooperative enterprises, aiming to empower and uplift women's status holistically.
      </p>
    </div>
   
  </div>

  <div class="bottom-div" style="margin-bottom: 7vw !important;" data-aos="fade-up" data-aos-duration="1000">
    <h5 class=" text-center follow-text" ><b> Follow Us</b></h5>
    <div class="d-flex " style="    gap: 25px;
    justify-content: center;">
      <div class="social-img"><a href="https://instagram.com/iitbombay_abhyuday"><img src="./static/images/i.png" alt=""></a></div>
      <div class="social-img"><a href="https://youtube.com/@AbhyudayIITBombay"><img src="./static/images/y.png" alt=""></a></div>
      <div class="social-img"><a href="https://twitter.com/Abhyuday_IITB"><img src="./static/images/twitter.png" alt=""></a></div>
      <div class="social-img"><a href="https://www.linkedin.com/company/abhyuday-iit-bombay/"><img src="./static/images/l.png" alt=""></a></div>
      <div class="social-img"><a href="https://www.facebook.com/abhyuday.iitb/"><img src="./static/images/f.png" alt=""></a></div>
     
    </div>
  </div>
{% endblock body %}
